<header class="header__Dashboard">
	<div class="header__Dashboard--Container d-flex justify-content-between p-3 align-items-center">
		<div class="header__Dashboard--Form pl-3">
			<form action="" class="form">
				<div class="search">
					<input type="search" placeholder="Buscar...">
				</div>
			</form>
		</div>
		<div class="header__Dashboard--Options">
			<ul class="ul m-0 p-0">
				<li class="list d-inline">
					<a href="#" class="link">
						<i class="fas fa-bell"></i>
					</a>
				</li>
				<li class="list d-inline">
					<a href="#" class="link">
						<img src="https://scontent.faep8-1.fna.fbcdn.net/v/t1.0-1/p160x160/40054272_2038849879500804_6032115639760453632_n.jpg?_nc_cat=105&_nc_ht=scontent.faep8-1.fna&oh=be458a8a14c1f2ccd2529814edc5fd87&oe=5C780F9A" alt="" width="40" class="rounded-circle">
						<span>Hola, Edinson!</span>
						<i class="fas fa-chevron-down"></i>
					</a>
				</li>

			</ul>
		</div>
	</div>
</header>