<footer class="footer">
	<div class="footer__Primary pt-3 pb-3">
		<div class="container">

			<div class="d-flex">

				<ul class="ul m-0 p-0 mr-5">
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							¿Quienes sómos?
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Metodos de pago
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Historia
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Preguntas Frecuentes
						</a>
					</li>
				</ul>

				<ul class="ul m-0 p-0 mr-5">
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Noticias
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Precios
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Contacto
						</a>
					</li>

				</ul>

				<ul class="ul m-0 p-0">
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Soporte
						</a>
					</li>
					<li class="list d-block">
						<a href="#" class="link small text-muted">
							Chat
						</a>
					</li>

				</ul>

			</div>


		</div>
	</div>
	<div class="footer__Secondary pt-5 pb-5">
		<div class="container">
			<div class="header">
				<h2 class="m-0">Student</h2>
			</div>
		</div>
	</div>
</footer>