<header class="is__Header">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<div class="name__Web">
				<h1 class="m-0"><img src="" alt=""></h1>
			</div>
			<nav class="nav__Menu">
				<ul class="ul p-0 m-0">
					<li class="list d-inline">
						<a [routerLink]="['/']" class="link">Inicio</a>
					</li>
					<li class="list d-inline">
						<a href="#" class="link">Cursos</a>
					</li>
					
					<li class="list d-inline">
						<a href="#" class="link">Nosotros</a>
					</li>
					
					<li class="list d-inline">
						<a href="#" class="link">Contacto</a>
					</li>
					<li class="list d-inline">
						<a href="#" class="link">INGRESAR</a>
					</li>
					<li class="list d-inline register">
						<a [routerLink]="['/register']" class="link">REGISTRATE</a>
					</li>
				</ul>
			</nav>
		</div>
		
	</div>
</header>
