<!-- Is header static to front page -->
<header-front-static ></header-front-static>
<!-- Is header static to front page -->

<section class="is__Section pt-5">

	<div class="container">

		<div class="is__Section--Box">
			
			 <article class="container__Text pt-5">
			 		
			 		<header class="box__Header">
			 			<h2 class="title">Hola, Bienvenido</h2>
			 			<p class="description text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, neque totam atque eius, magni repellat quaerat corporis distinctio velit asperiores corrupti quidem deserunt autem repudiandae rem dolorum, maiores inventore quo?</p>
			 			<a href="#" class="link">
			 				Crear cuenta
			 			</a>

			 		</header>

			 </article>

		</div>

	</div>
	

</section>

<main class="is__Main">
		
			<div class="is__Main--Primary">

				<header class="primary__Header ">
					<div class="container">
						<ul class="ul m-0 p-0 d-flex justify-content-between">
							<li class="list d-block">
								<a href="#" class="link">
									Nuevos
								</a>
							</li>
							<li class="list d-block">
								<a href="#" class="link">
									Más comprado
								</a>
							</li>
							<li class="list d-block">
								<a href="#" class="link">
									Mas visto
								</a>
							</li>
							<li class="list d-block">
								<a href="#" class="link">
									Gratuito
								</a>
							</li>
						</ul>
					</div>
				</header>


				<section class="primary__Show pt-5 pb-5">
					
					<div class="container">

						<div class="container__Article d-flex justify-content-between">
							
							<article class="article" *ngFor="let a of cours">
								<figure class="figure m-0 p-0 w-100">
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq4RhT5EP4bHT6bYX9QK0HU7w7S6iHRVTbxg9o9eQhFou5-zvI" class="w-100 d-block">
								</figure>
								<div class="this__Options p-3">
										<header class="this__Header">
											<h3 class="title m-0 text-dark">Curso profesional</h3>
											<p class="details m-0 text-muted"><small>Edinson C</small></p>
										</header>
										<div class="this__Description">
											<p class="description">
												Aprende de las nuevas tecnicas que se brinda en este curso
											</p>
										</div>
								</div>
								<div class="this__Actions p-3 d-flex justify-content-between align-items-center">
									
									<div class="actions__View">
										<span class="text-muted small">
											<i class="fas fa-graduation-cap"></i>
											<small class="ml-2">Principiante</small>
										</span>
									</div>
									<div class="actions__View">
										<span class="text-muted small">
											<i class="fas fa-user"></i>
											<small class="ml-2">20 Estudiantes</small>
										</span>
									</div>

									<div class="actions__View price">
										<span class="text-muted">
											<small class="ml-2">S/19</small>
										</span>
									</div>

								</div>
							</article>



						
						</div>
					
					</div>

				</section>
				
			</div>

			<div class="is__Main--Secondary pb-5 pt-5">
				<div class="container">
						<header class="secondary__Header pb-5 text-center">
							<h2 class="title m-0">Beneficios</h2>
						</header>
						<section class="seondary__Services d-flex justify-content-between align-items-center">
							<article class="Services">
								<figure class="figure">
									<img src="/assets/img/service.png" alt="" width="90px">
								</figure>
								<header class="Services__Header">
									<h3 class="title">Videos en alta calidad</h3>
								</header>
								<div class="Services__Description mt-2">
									<p class="description">
										<small class="text-muted small">Nuestros cursos son realizados con la mejor tecnologia multimedia en muchos formatos de video</small>
									</p>
								</div>
							</article>

							<article class="Services">
								<figure class="figure">
									<img src="/assets/img/chat.png" alt="" width="90px">
								</figure>
								<header class="Services__Header">
									<h3 class="title">Soporte y consultas</h3>
								</header>
								<div class="Services__Description mt-2">
									<p class="description">
										<small class="text-muted small">Nuestros cursos son realizados con la mejor tecnologia multimedia en muchos formatos de video</small>
									</p>
								</div>
							</article>

							<article class="Services">
								<figure class="figure">
									<img src="/assets/img/certification.png" alt="" width="90px">
								</figure>
								<header class="Services__Header">
									<h3 class="title">Certificación por curso</h3>
								</header>
								<div class="Services__Description mt-2">
									<p class="description">
										<small class="text-muted small">Nuestros cursos son realizados con la mejor tecnologia multimedia en muchos formatos de video</small>
									</p>
								</div>
							</article>

							<article class="Services">
								<figure class="figure">
									<img src="/assets/img/padlock.png" alt="" width="90px">
								</figure>
								<header class="Services__Header">
									<h3 class="title">Acceso de por vida</h3>
								</header>
								<div class="Services__Description mt-2">
									<p class="description">
										<small class="text-muted small">Nuestros cursos son realizados con la mejor tecnologia multimedia en muchos formatos de video</small>
									</p>
								</div>
							</article>
						</section>
				</div>
			</div>

			<div class="is__Main--Tree pt-5 pb-5">
				<div class="container">
						<header class="secondary__Header pb-5 text-left">
							<h2 class="title m-0">Testimonios</h2>
						</header>
						<section class="secondary__Testimonios pb-3">
							<div class="d-flex justify-content-between">
								
								<article class="article__Testimonios p-4">
									<header class="article__Testimonios--Header d-flex pb-2">
										<div class="img mr-3">
											<img src="https://avatars0.githubusercontent.com/u/4240285?s=460&v=4" alt="" width="50px" class="rounded-circle">
										</div>
										<div class="names">
											<h3 class="title m-0">Edinson</h3>
											<p class="details m-0">Software Enginner</p>
										</div>
									</header>
									<div class="article__Testimonios--Details">
										<p class="details m-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas est ipsum omnis adipisci inventore, officia porro incidunt qui aspernatur nemo nostrum minus.</p>
									</div>
								</article>

								<article class="article__Testimonios p-4">
									<header class="article__Testimonios--Header d-flex pb-2">
										<div class="img mr-3">
											<img src="https://avatars0.githubusercontent.com/u/4240285?s=460&v=4" alt="" width="50px" class="rounded-circle">
										</div>
										<div class="names">
											<h3 class="title m-0">Edinson</h3>
											<p class="details m-0">Software Enginner</p>
										</div>
									</header>
									<div class="article__Testimonios--Details">
										<p class="details m-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas est ipsum omnis adipisci inventore, officia porro incidunt qui aspernatur nemo nostrum minus.</p>
									</div>
								</article>

								<article class="article__Testimonios p-4">
									<header class="article__Testimonios--Header d-flex pb-2">
										<div class="img mr-3">
											<img src="https://avatars0.githubusercontent.com/u/4240285?s=460&v=4" alt="" width="50px" class="rounded-circle">
										</div>
										<div class="names">
											<h3 class="title m-0">Edinson</h3>
											<p class="details m-0">Software Enginner</p>
										</div>
									</header>
									<div class="article__Testimonios--Details">
										<p class="details m-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas est ipsum omnis adipisci inventore, officia porro incidunt qui aspernatur nemo nostrum minus.</p>
									</div>
								</article>


							</div>
						</section>
				</div>
			</div>

			<div class="is__Main--Four d-flex">
				<aside class="is__Aside pt-5 pb-5"></aside>
				<section class="is__Aside--Details m-auto">

					<header class="header__Section pt-4">
						<h2 class="title m-0">
							Educación y Capacitaciones
						</h2>
					</header>

					<div class="description__Section mt-5">
						<article class="article__News mb-4">
							<h3 class="description">Ahorra tiempo y dinero</h3>
						</article>

						<article class="article__News mb-4">
							<h3 class="description">Flexibilidad para completar tareas</h3>
						</article>

						<article class="article__News mb-4">
							<h3 class="description">Acceso las 24/7 durante los 365 dias</h3>
						</article>

						<article class="article__News mb-4">
							<h3 class="description">Nos adaptamos a tus necesidades</h3>
						</article>

					</div>
					
				</section>

			</div>


</main>

<!-- Is footer static to front page -->
<footer-front-static></footer-front-static>
<!-- Is footer static to front page -->