<header-static-dashboard>
</header-static-dashboard>

<section class="menu__Dashboard">
	<figure class="menu__Dashboard--Figure text-center mb-5">
		<h2 class="m-0">Student</h2>
	</figure>
	<nav class="menu__Dashboard--Nav">
		<ul class="ul m-0 p-0">
			<li class="list active">
				<a [routerLink]="'/dashboard'" class="link">
					<i class="fas fa-home"></i>
					Inicio
				</a>
			</li>

			<li class="list">
				<a [routerLink]="'/dashboard/cours'" class="link">
					<i class="fas fa-book"></i>
					Cursos
				</a>
			</li>

			<li class="list">
				<a href="#" class="link">
					<i class="fas fa-graduation-cap"></i>
					Certificados
				</a>
			</li>

			<li class="list">
				<a href="#" class="link">
					<i class="fas fa-edit"></i>
					Exámenes
				</a>
			</li>

			<li class="list">
				<a href="#" class="link">
					<i class="fas fa-edit"></i>
					Configuración
				</a>
			</li>


		</ul>
	</nav>
</section>

<main class="main__Dashboard">
	<section class="main__Dashboard--Primary p-4">
		<div class="container">
			<header class="main__Primary--Header">
				<h2 class="title m-0 text-muted">
					Hola, Edinson!
				</h2>
				<p class="details small text-muted">Bienvenidos a la plataforma numero 1 de la región en capacitación en linea y a distancia, enterate de cualquier novedad en esta sección</p>
			</header>
		</div>
	</section>

	
	<section class="main__Dashboard--Secondary p-4">
		<div class="container">
			<div class="d-flex justify-content-between">
			
				<div class="secondary__Post">
					<article class="post p-4 d-flex justify-content-between align-items-center mb-4">
						<div class="post__Iz">
							<header class="is__Header">
								<h2 class="title m-0 text-muted">Detalle esta noticia de la plataforma para los usuarios</h2>
							</header>
							<div class="is__Description mt-3 mb-5">
								<p class="description m-0 text-muted">Simplemente hasta que no cerremos las comillas no se finalizará el comando, por ende, podemos escribir una nueva línea tan solo aprentando enter</p>
							</div>
							<div class="is__Continue">
								<a href="#" class="link">Continuar</a>
							</div>
						</div>
						<div class="post__De">
							<img src="/assets/img/reading.png" alt="" width="90">
						</div>
					</article>

					<article class="post p-4 d-flex justify-content-between align-items-center mb-4">
						<div class="post__Iz">
							<header class="is__Header">
								<h2 class="title m-0 text-muted">Detalle esta noticia de la plataforma para los usuarios</h2>
							</header>
							<div class="is__Description mt-3 mb-5">
								<p class="description m-0 text-muted">Simplemente hasta que no cerremos las comillas no se finalizará el comando, por ende, podemos escribir una nueva línea tan solo aprentando enter</p>
							</div>
							<div class="is__Continue">
								<a href="#" class="link">Continuar</a>
							</div>
						</div>
						<div class="post__De">
							<img src="/assets/img/reading.png" alt="" width="90">
						</div>
					</article>

					<article class="post p-4 d-flex justify-content-between align-items-center mb-4">
						<div class="post__Iz">
							<header class="is__Header">
								<h2 class="title m-0 text-muted">Detalle esta noticia de la plataforma para los usuarios</h2>
							</header>
							<div class="is__Description mt-3 mb-5">
								<p class="description m-0 text-muted">Simplemente hasta que no cerremos las comillas no se finalizará el comando, por ende, podemos escribir una nueva línea tan solo aprentando enter</p>
							</div>
							<div class="is__Continue">
								<a href="#" class="link">Continuar</a>
							</div>
						</div>
						<div class="post__De">
							<img src="/assets/img/reading.png" alt="" width="90">
						</div>
					</article>
				</div>
				
				<aside class="secondary__Great">

					<article class="great p-4">
						<header class="great__Header">
							<h2 class="title m-0 text-white">Felicidades!</h2>
						</header>
						<div class="great__Description">
							<p class="description text-white m-0 small">Has cumplido con las materias asignadas, descubre nuevos cursos para mejorar tus conocimientos.</p>
						</div>
						<div class="great__Continue pt-4">
							<a href="#" class="link">Ver cursos</a>
						</div>
					</article>
					
				</aside>

			</div>
		</div>
	</section>


</main>


